<div class="modal-wrapper" (click)="closeModal.emit()">
    <div class="container">
        <div *ngFor="let produto of produtos" class="produto-item">
            <div class="img">
                <img [src]="produto.imagem" alt="{{produto.descricao}}" class="">
            </div>
            <div class="produto-info">
                {{produto.descricao}}
            </div>
            <div class="botao">
                <app-botao
                    texto="Ir para loja"
                    fontSize="0.66rem"
                    height="15px"
                    >
                </app-botao>
            </div>
            <div class="linha-divisoria"></div>
        </div>
    </div>
</div>

