.modal-wrapper {
    position: fixed; /* ou absolute dependendo da sua necessidade */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Certifique-se de que o modal esteja acima de todos os outros elementos */
}

.container {
    background-color: #2b304d;
    width: 700px; /* Ajuste para acomodar dois itens lado a lado */
    max-height: 500px;
    border-radius: 5px;
    z-index: 10000;
    display: flex; /* Novo: Exibe os itens do produto lado a lado */
    flex-wrap: wrap; /* Permite que os itens se ajustem para a próxima linha se houver espaço insuficiente */
    justify-content: space-around; /* Espaço uniforme entre os itens */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    overflow-y: auto; /* Barra de rolagem vertical se houver muitos produtos */
    padding: 20px;
}

.bg-custom {
    background-color: #2B304D;
}

.produto-item {
    width: 300px; /* Largura fixa para cada produto */
    margin: 15px;
    display: flex;
    flex-direction: column; /* Empilha o conteúdo verticalmente */
    justify-content: center;
    align-items: center;
}

.img {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.produto-info {
    text-align: center;
    color: var(--main-text-color);
    font-size: 0.70rem;
    margin-bottom: 10px;
}

.botao {
    margin-bottom: 10px;
    width: 100%;
}

.linha-divisoria {
    height: 1px;
    width: 100%;
    background-color: white;
}

.mais-produtos {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.mais-produtos .titulo {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}
