.container-usb {
    position: absolute;
    margin-top: 161px;
    margin-left: 85.4px;
    display: flex;
}

.braco-1 {
    display: flex;
    flex-direction: column;
    margin-left: -13px;
    margin-top: 185px;
}

.linha-1 {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: 9px;
    margin-bottom: 3px;
}

.linha-diagonal-1 {
    margin-top: -5px;
}

svg path {
    stroke-width: 3px;

}
