.container-usb {
    position: absolute;
    margin-top: 161px;
    margin-left: 85.4px;
    display: flex;
}

.braco-1 {
    background-color: blue;
}

.linha-1 {
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 350px;
    margin-left: 8px;
}



svg path {
    stroke-width: 3px;

}
