/* :host {
    width: 5262.327px;
    height: 0px;
    transform: rotate(-90deg);
    flex-shrink: 0;
} */

.container-usb {
    position: absolute;
    margin-top: 161px;
    margin-left: 85.4px;
    display: flex;
}

.linha-1 {
    display: flex;
    flex-direction: column;
    margin-left: -12px;
    margin-top: 350px;
    align-items: center;

}

.linha-2 {
    display: flex;
    flex-direction: column;
    margin-left: -12px;
    margin-top: 350px;
}

svg path {
    stroke-width: 3px;

}
