<div class="container-contato">
    <div class="titulo">Entre em contato conosco</div>
    <div class="conteudo">
        <div class="telefone">
            <img src="" alt="">
            <div class="sub-titulo">Telefone</div>
            <div class="info">(00) 0 0000-0000</div>
        </div>
        <div class="endereco">
            <img src="" alt="">
            <div class="sub-titulo">Endereço</div>
            <div class="info">Lorem ipsum dolor sit amet, 123</div>
        </div>
        <div class="email">
            <img src="" alt="">
            <div class="sub-titulo">Email</div>
            <div class="info">parceiro@parceirodocontador.com.br</div>
        </div>
        <div class="intagram">
            <img src="" alt="">
            <div class="sub-titulo">Instagram</div>
            <div class="info">@parceirodocontador</div>
        </div>
    </div>
</div>