.container-parceiros {
    width: 100%;
    background: #15151A;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto; /* Definindo como auto para permitir que o grid ajuste dinamicamente o número de linhas */
    padding: 70px 0 70px 0;
}

.titulo {
    grid-row: 1; /* Definindo a primeira linha para o título */
    color: #02CEDF;
    font-family: var(--main-titulo-text);
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    display: flex;
    justify-self: center;
    align-self: end;
    height: 100px;
}

.item {
    display: flex;
    align-items: center;
    margin: 10px 25px 10px 120px;
}

.circulo {
    width: 129px;
    height: 129px;
    flex-shrink: 0;
    filter: grayscale(100%);
    background-color: #fff;
    border: 1px solid #B1E239;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 20;
    margin: 20px 0px 20px 0px;
}

.objetos:hover + .info .container-info {
    background-color: #B1E239;
    transform: translateX(0);
}

.circulo:hover {
    filter: grayscale(0%);
}

.image-inside-circle {
    width: 100%;
    height: 100%;
    object-fit:contain;
    display: block;
}

.info {
    height: 100%;
    width: 100%;
    position: relative;
    margin-left: -72px;
    display: flex;
    align-items: center;
    overflow: hidden;
    display: flex;
}

.container-info {
    height: 75%;
    width: 100%;
    border: 2px solid #B1E239;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
    background-color: #B1E239;
}

.nome-parceiro {
    color: #000;
    margin: 0 30px 0 90px;
    font-weight: 600;
}

.texto {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 90px;
    font-style: italic;
    font-size: 0.8rem;
}



@media screen and (max-width: 820px) {

}
