<div class="container-parceiros">
    <div class="titulo">
        Conheça nossos parceiros
    </div>
    <div class="coluna-1">
        <div class="item-1">
            <div class="circulo"></div>
            <div class="linha-1"></div>
        </div>
        <div class="item-2">
            <div class="bola"></div>
            <div class="linha-2"></div>
            <div class="circulo"></div>
        </div>
        <div class="item-3">
            <div class="linha-3"></div>
            <div class="circulo"></div>
        </div>
    </div>
    <div class="coluna-2">
        <div class="item-2-1">
            <div class="circulo"></div>
        </div>
        <div class="item-2-2">
            <div class="circulo"></div>
        </div>
        <div class="item-2-3">
            <div class="circulo"></div>
        </div>
    </div>
    <div class="coluna-3">
        <div class="item-3-1">
            <div class="circulo"></div>
            <div class="linha-3-1"></div>
        </div>
        <div class="item-2">
            <div class="circulo"></div>
            <div class="linha-2"></div>
            <div class="bola"></div>
        </div>
        <div class="item-3-3">
            <div class="linha-3-3"></div>
            <div class="circulo"></div>
        </div>
    </div>
</div>