<div class="container-parceiros">
    <div class="titulo">
        Conheça nossos parceiros
    </div>
    <div class="item" *ngFor="let parceiro of parceiros">
        <div class="objetos">
            <div class="circulo">
                <img
                    [src]= parceiro.midia
                    alt="Foto do cliente"
                    class="image-inside-circle"
                />
            </div>
            <div class="linha-1"></div>
        </div>
        <div class="info">
            <div class="container-info">
                <div class="nome-parceiro">
                    {{ parceiro.nome }}
                </div>
                <div class="texto">
                    {{ parceiro.texto }}
                </div>
            </div>
        </div>
    </div>
</div>
