.container-parceiros {
    width: 100%;
    background: #15151A;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:    "titulo titulo titulo"
                            "coluna-1  coluna-2 coluna-3";
    padding: 70px 0 70px 0;
}

.titulo {
    grid-area: titulo;
    /* color: var(--main-text-color); */
    color: #02CEDF;
    font-family: var(--main-titulo-text);
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    display: flex;
    justify-self: center;
    align-self: end;
    height: 100px;
}



.circulo {
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    background-color: #191C25;
    border: 1px solid #02CEDF;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.coluna-1,
.coluna-2,
.coluna-3 {
    display: flex;
    flex-direction: column;
}

.coluna-1 {
    grid-area: coluna-1;
    align-items: end;
}

.coluna-2 {
    grid-area: coluna-2;
    gap: 95px;
    align-items: center;
}

.coluna-3 {
    grid-area: coluna-3;
    align-items: start;

}

.item-1 {
    margin-bottom: -70px;
    display: flex;
    flex-direction: column;
}



.linha-1 {
    height: 180px;
    width: 3px;
    background: #02CEDF;
    transform: rotate(25deg);
    position: relative;
    margin-top: -15px;
}

.item-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: -70px;

}

.linha-2 {
    height: 3px;
    width: 190px;
    background: #02CEDF;
    position: relative;
}

.linha-3 {
    height: 180px;
    width: 3px;
    background: #02CEDF;
    transform: rotate(-25deg);
    position: relative;
    margin-bottom: -15px;
}

.item-3-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: -50px;
    margin-bottom: -70px;
}

.linha-3-1 {
    height: 180px;
    width: 3px;
    background: #02CEDF;
    transform: rotate(-25deg);
    position: relative;
    margin-top: -15px;
    display: flex;
    align-self: end;
}

.linha-3-3 {
    height: 180px;
    width: 3px;
    background: #02CEDF;
    transform: rotate(25deg);
    position: relative;
    margin-bottom: -15px;
    margin-left: 117px;
}

.bola {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #02CEDF;
}

@media screen and (max-width: 820px) {
    .container-parceiros {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:    "titulo"
                                "linha-1"
                                "linha-2"
                                "linha-3"
    }

    .linha-1,
    .linha-2,
    .linha-3,
    .linha-3-1,
    .linha-3-3,
    .bola {
        display: none;
    }
    
    .coluna-1,
    .coluna-2,
    .coluna-3 {
        flex-direction: row;

    }

    .titulo {
        grid-area: titulo;
    }

    .coluna-1,
    .coluna-2,
    .coluna-3 {
        align-items: start;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
        gap: 0;
        height: 180px;
    }

    .coluna-1 {
        grid-area: linha-1;
    }

    .coluna-2 {
        grid-area: linha-2;
    }

    .coluna-3 {
        grid-area: linha-3;
    }

    .circulo {
        width: 90px;
        height: 90px;
    }
}
