<div class="container-estatisticas">
	<div class="titulo">
		<div class="titulo-texto">{{ estatisticas[0].nome }}</div>
		<div class="sub-titulo">Na produtividade dos nossos clientes</div>
		
		<div class="linha-titulo">
			<div class="l1"></div>
			<div class="l2"></div>
			<div class="circulo"></div>
		</div>
	</div>
	<div class="estatistica-1">
		<div class="dados">
			<div class="texto" [innerHTML]="estatisticas[0].descricao"></div>
			<img class="midia" [src]="estatisticas[0].media" alt="" />
		</div>
		<div class="linha-estatistica-1">
			<div class="circulo"></div>
			<div class="linha"></div>
		</div>
	</div>
	<div class="estatistica-2">
		<div class="dados">
			<img class="midia" [src]="estatisticas[1].media" alt="" />
			<div class="texto" [innerHTML]="estatisticas[1].descricao"></div>
		</div>
		<div class="linha-estatistica-2">
			<div class="linha"></div>
			<div class="circulo"></div>
		</div>
	</div>
	
</div>