<div class="container-estatisticas">
	<div class="titulo">
		<div class="titulo-texto">{{ estatisticas?.nome }}</div>
		<div class="sub-titulo">Na produtividade dos nossos clientes</div>
		
		<div class="linha-titulo">
			<div class="l1"></div>
			<div class="l2"></div>
			<div class="circulo"></div>
		</div>
	</div>
	<div class="estatistica-1">
		<div class="dados">
			<div class="texto">{{ estatisticas?.descricao }}</div>
			<img class="midia" [src]="estatisticas?.media" alt="" />
		</div>
		<div class="linha-estatistica-1">
			<div class="circulo"></div>
			<div class="linha"></div>
		</div>
	</div>
</div>
