<div class="container-estatisticas">
    <div class="titulo">
        <div class="titulo-texto">{{ estatisticas.titulo }}</div>
        <div class="sub-titulo-texto">{{ estatisticas.subtitulo }}</div>
        <div class="linha-titulo">
            <div class="l1"></div>
            <div class="l2"></div>
            <div class="circulo"></div>
        </div>
    </div>
    <div class="estatistica-1">
        <div class="dados">
            <div class="estatistica-1-texto">{{ estatisticas.dados[0].texto }}</div>
            <img class="estatistica-1-midia" src="{{ estatisticas.dados[0].midia }}" alt="">
        </div>
        <div class="linha-estatistica-1">
            <div class="circulo"></div>
            <div class="linha"></div>
        </div>
    </div>
    <div class="estatistica-2">
        <div class="estatistica-2-texto">{{ estatisticas.dados[1].texto }}</div>
        <img class="estatistica-2-midia" src="{{ estatisticas.dados[1].midia }}" alt="">
        <div class="seta-estatistica"></div>
    </div>
</div>