<div class="header-container" [class.header-scrolled]="isScrolled">
	<div class="esquerda">
		<div class="logo">
			<img
				class="logo"
				src="assets/img/marcasembgconepreenchidopreto-1.png"
				alt="Logo da Parceiro"
				(click)="scrollToHome()"
			/>
		</div>

		<nav class="nav-left">
			<a href="#">Já sou cliente</a>
			<a href="https://www.omie.com.br/unidades-franqueadas/?=omie-ba-unidade-salvador" target="_blank">Precisa de um ERP?</a>
		</nav>
	</div>
	<div class="direita">
		<nav class="nav-right">
			<a href="#" (click)="scrollToSection('sobre')">Sobre</a>
			<a href="#" (click)="scrollToSection('solucoes')">Soluções</a>
			<a href="#" (click)="scrollToSection('cases')">Cases</a>
			<a href="#" (click)="scrollToSection('estatisticas')">Estatisticas</a>
			<a href="#" (click)="scrollToSection('parceiros')">Parceiros</a>
			<a href="#" (click)="scrollToSection('contato')">Contato</a>
			<a href="https://parceirodocontador.com.br/store" target="_blank">Store</a>
		</nav>
	</div>
</div>

<div class="header-mobile-container">
	<div class="logo-mobile">
		<img
			class="logo"
			src="assets/img/marcasembgconepreenchidopreto-1.png"
			alt="Logo da Parceiro"
		/>
	</div>
	<button
		class="menu-mobile"
		mat-icon-button
		[matMenuTriggerFor]="menu"
		aria-label="Example icon-button with a menu"
	>
		<mat-icon>menu</mat-icon>
	</button>
	<mat-menu #menu="matMenu" class="custom-mat-menu">
		<button mat-menu-item>
			<mat-icon>person</mat-icon>
			<span>Já sou cliente</span>
		</button>
		<button mat-menu-item>
			<mat-icon>wysiwyg</mat-icon>
			<span>Conheça nosso ERP</span>
		</button>
		<button mat-menu-item>
			<mat-icon>description</mat-icon>
			<span>Sobre</span>
		</button>
		<button mat-menu-item>
			<mat-icon>lightbulb</mat-icon>
			<span>Soluções</span>
		</button>
		<button mat-menu-item>
			<mat-icon>shopping bag</mat-icon>
			<span>Store</span>
		</button>
	</mat-menu>
</div>
