<app-usb></app-usb>
<div class="full-background">
    <app-header></app-header>
    <section id="home"></section>
    <app-home></app-home>
    <section id="sobre"></section>
    <app-sobre></app-sobre>
	<section id="solucoes"></section>
    <app-solucoes></app-solucoes>
	<section id="formulario"></section>
    <app-formulario></app-formulario>
	<section id="cases"></section>
    <app-cases></app-cases>
    <section id="estatisticas"></section>
    <app-estatisticas></app-estatisticas>
    <section id="parceiros"></section>
    <app-parceiros></app-parceiros>
    <section id="contato"></section>
    <app-contato></app-contato>
</div>
