<div class="container-solucoes">
	<app-modal-solucoes
		*ngIf="showModal"
		(closeModal)="closeModal()"
		[tipoSolucao]="tipoSolucao"
	></app-modal-solucoes>
	<section id="solucoes"></section>
	<div class="container-carrossel">
		<ngb-carousel>
			<ng-template ngbSlide *ngFor="let solucao of solucoes">
				<div class="carrossel">
					<div class="container-solucao">
						<div
							class="titulo-solucao"
							[ngStyle]="{'color': solucao.buttonColor}"
							>
							{{ solucao.tituloSolucao }}
						</div>
						<div class="midias">
							<img
								class="midia"
								id="midia1"
								src="{{ solucao.imagem1 }}"
								alt=""
							/>
							<img
								class="midia"
								id="midia2"
								src="{{ solucao.imagem2 }}"
								alt=""
							/>
						</div>
						<div class="descricao">{{ solucao.descricao }}</div>
						<button class="botao"
							[ngStyle]="{
								'background-color': solucao.buttonColor,
								'box-shadow': hovered ? '0 0 15px ' + solucao.buttonColor : 'none'
							}"
							(mouseover)="hovered = true"
							(mouseout)="hovered = false"
							(click)="openModal(solucao.tituloSolucao)"
							>
							Saiba mais
						</button>
					</div>
				</div>
			</ng-template>
		</ngb-carousel>
	</div>
</div>
