.container-solucoes {
    background:     #0F101E;
    height: 685px;
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-solucoes {
    display: flex;
    justify-content: center;
    font-family: var(--main-titulo-text);
    font-weight: 600;
    font-size: 1.66rem;
    /* margin-bottom: 70px; */
    
}

.container-solucao {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas:    "titulo titulo"
                            "midia descricao"
                            "botao botao";
    width: 80%;
}

.titulo-solucao {
    grid-area: titulo;
    display: flex;
    justify-content: center;
    font-family: var(--main-titulo-text);
    font-size: 1.11rem;
    font-weight: 700;
    align-items: end;
}

.midias {
    grid-area: midia;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.midia {
    width: 238px;
    height: 238px;
    margin: -40px;
}

.descricao {
    grid-area: descricao;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:justify;
    font-family: var(--main-text-color);
    font-size: 1.11rem;
    font-weight: 500;
    letter-spacing: 1.3px;
    
}

.botao {
    grid-area: botao;
    display: flex;
    justify-content: center;
    align-items: center;
}
