<div class="container-solucoes">
	<app-modal-solucoes
		*ngIf="showModal"
		(closeModal)="closeModal()"
		[tipoSolucao]="tipoSolucao"
	></app-modal-solucoes>
	<section id="solucoes"></section>
	<div class="container-carrossel">
		<ngb-carousel>
			<ng-template ngbSlide *ngFor="let solucao of solucoes">
				<div class="carrossel">
					<div class="container-solucao">
						<div class="titulo-solucao">
							{{ solucao.tituloSolucao }}
						</div>
						<div class="midias">
							<img
								class="midia"
								src="{{ solucao.imagem1 }}"
								alt=""
							/>
							<img
								class="midia"
								src="{{ solucao.imagem2 }}"
								alt=""
							/>
						</div>
						<div class="descricao">{{ solucao.descricao }}</div>
						<button class="botao"
							[ngStyle]="{'background-color': solucao.buttonColor}"
							>
							Saiba mais
						</button>
						<!-- <div class="botao"> -->
							<!-- <app-botao
								[texto]="'Saiba mais'"
								(click)="openModal(solucao.tituloSolucao)"
							></app-botao> -->
							<!-- </div> -->
					</div>
				</div>
			</ng-template>
		</ngb-carousel>
	</div>
</div>
