.container-formulario {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #0F101E;
    margin: 0;
    padding: 0;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto auto;
    grid-template-areas:    "texto fomrs"
                            "texto forms"
                            "_ forms";
}

.left-frame {
    grid-area: texto;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.texto {
    font-size: 1.7rem;
    font-family: var(--main-titulo-text);
    font-weight: 700;
    text-align: left;
    color: var(--main-text-color);
    margin-left: 158px;
    line-height: 1.1;
    max-width: 750px;
}

.seta {
    position: relative;
    margin-top: -100px;
    margin-left: 92px;
}

#seta1 {
    margin-left: 3px;
}

#seta2 {
    margin-top: 10px;
}

.right-frame{
    grid-area: forms;
    display: flex;
    justify-content: center;
}

.form-container {
    background-color: #1C1E2E;
    width: 402px;
    height: 480px;
    padding: 24px 30px 24px 30px;
}

input, textarea {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #FFF;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 0;
    color: var(--main-text-color);
    outline: none;
    font-size: 0.61rem;
    padding-left: 3px;
}

textarea {
    border: 1px solid #FFF;
    width: 308px;
    height: 164px;
    resize: none;
}

#textarea {
    margin-top: 45px;
    width: 100%;
}

.botao {
    background-color: red;
    width: 100%;
    /* display: flex; */
}

.container-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    color: var(--second-text-color);
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.845px;
    height: 22px;
    border-radius: 2px;
    border: none;
    flex-shrink: 1;
    width: 100%;
}

.container-botao:hover {
    cursor: pointer;
    background-color: var(--third-main-color);
    color: var(--main-text-color);
    transition: 0.2s;
    width: 100%;
}
