<div class="sobre-container">
    <div class="grid-sobre">
        <div class="introducao">
            <div class="titulo">
                Quem é a Parceiro?
            </div>
            <div class="texto-introducao">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
        
        
        <div class="valores-container">
            <div class="linha-superior">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="3" viewBox="0 0 100% 3">
                    <line x1="0" y1="1.5" x2="100%" y2="1.5" stroke="white" stroke-width="3"/>
                </svg>
            </div>
            <div class="valores">
                <svg xmlns="http://www.w3.org/2000/svg" width="97" height="135" viewBox="0 0 97 135" fill="none">
                    <line y1="-1.5" x2="140.046" y2="-1.5" transform="matrix(0.328464 0.944516 -0.724735 0.689028 0 2.19835)" stroke="white" stroke-width="3"/>
                    <line x1="46" y1="132.974" x2="97" y2="132.974" stroke="white" stroke-width="3"/>
                </svg>
                <div class="coluna">
                    <h2>Valores</h2>
                    <div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </p>
                    </div>
                </div>
                <div class="linha-valores">
                    <svg xmlns="http://www.w3.org/2000/svg" width="97" height="135" viewBox="0 0 97 135" fill="none">
                        <line y1="-1.5" x2="140.046" y2="-1.5" transform="matrix(0.328464 0.944516 -0.724735 0.689028 0 2.19835)" stroke="white" stroke-width="3"/>
                        <line x1="46" y1="132.974" x2="97" y2="132.974" stroke="white" stroke-width="3"/>
                    </svg>
                </div>
                <div class="coluna">
                    <h2>Missão</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                </div>
                <div class="linha-valores">
                    <svg xmlns="http://www.w3.org/2000/svg" width="97" height="135" viewBox="0 0 97 135" fill="none">
                        <line y1="-1.5" x2="140.046" y2="-1.5" transform="matrix(0.328464 0.944516 -0.724735 0.689028 0 2.19835)" stroke="white" stroke-width="3"/>
                        <line x1="46" y1="132.974" x2="97" y2="132.974" stroke="white" stroke-width="3"/>
                    </svg>
                </div>
                <div class="coluna">
                    <h2>Visão</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                </div>
            </div>
            
        </div>
    </div>
    
</div>
