@keyframes slideFromLeftHard {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.sobre-container {
    /* background: #015C54; */
    background: #282828;
    height: 792px;
    display: flex;
    justify-content: center;
    color: #fff;
}

.icones {
    width: 83.438px;
    height: 83.438px;
    display: flex;
    justify-self: center;
    align-self: end;
    margin-left: 120px;
}

.icone-megafone {
    width: 59px;
    height: 59px;
    flex-shrink: 0;
    margin-bottom: 2rem;
}


#icone-foguete {
    margin-bottom: 4px;
}

.grid-sobre {
    width: 100%;
    padding-left: 50px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto auto, auto;
    grid-template-areas:    "intro intro intro"
                            "foguete bandeira maos"
                            "ls ls ls"
                            "valores missao visao";
}



.introducao {
    grid-area:  intro;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.titulo {
    text-align: center;
    font-weight: 600;
    font-size: 1.66rem;
    color: var(--third-text-color);
    margin-bottom: -50px;
    margin-left: 15px;
}

.texto-introducao {
    width: 835px;
    text-align: center;
    margin-top: 51px;
}

.valores-container {
    width: 100%;
    grid-area: valores;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 98px;
}

.linha-superior {
    grid-area: ls;
    width: 95%;
    display: flex;
    align-items: center;
    align-self: end;
    margin-bottom: -11px;
    padding-left: 45px;
    animation: slideFromLeftHard 4.5s ;

}

.linha-superior-animado {
    width: 80%;
    display: flex;
    align-items: center;
    margin-bottom: -11px;
    animation: slideFromLeftHard 1s ;

}

#bolaValores {
    margin-left: -5px;
}

.valores {
    display: flex;
    align-self: start;
    width: 80%;
}

.conteudo-valores,
.conteudo-missao,
.conteudo-visao {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: start;
    max-width: 80%;
}

.conteudo-valores {
    grid-area: valores;
}

.conteudo-missao {
    grid-area: missao;
}

.conteudo-visao {
    grid-area: visao;
}

.valores-linhas {
    margin-left: 30px;
}

.coluna {
    flex: 1;
    padding-top: 40px;
    text-align: center;
}

.coluna p {
    font-size: 0.7rem;
}

.coluna h2 {
    opacity: 100%;
}

.linha {
    margin-bottom: 90px;
    flex-shrink: 0;
    
}

h2 {
    color: var(--third-text-color);
    opacity: 80%;
    font-weight: 600;
    margin-bottom: 1rem;
}

.bola-separadora {
    display: none;
}

@media screen and (max-width: 820px) {
    .sobre-container {
        height: 130%;
        margin-bottom: -5px;
    }

    .texto-introducao {
        width: 80%;
        font-size: 0.8rem;
    }

    .valores {
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
        justify-content: center;
        align-items: center;
    }

    .valores-linhas,
    .linha,
    .linha-superior {
        display: none;
    }

    .coluna {
        width: 80%;
    }

    .bola-separadora {
        display: block;
        margin-top: 30px;
    }

    .valores-container {
        flex-direction: row;
        margin-left: 0;
    }

}
