<div class="sobre-container">
    <div class="grid-sobre">
        <div class="introducao">
            <div class="titulo">
                Quem é a Parceiro?
            </div>
            <div class="texto-introducao">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
            
        </div>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="1175" height="3" viewBox="0 0 1175 3">
                <line x1="0" y1="1.5" x2="1175" y2="1.5" stroke="white" stroke-width="3"/>
            </svg>
        </div>
        <div class="valores-container">
            <div class="coluna">
                <h2>Valores</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                </p>
            </div>
            <div class="coluna">
                <h2>Missão</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                </p>
            </div>
            <div class="coluna">
                <h2>Visão</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                </p>
            </div>
        </div>
    </div>
    
</div>
