@import '~typeface-bungee';
@import '~typeface-ubuntu';
@import '~typeface-inter';

@font-face {
    font-family: 'Blinker-Bold';
    src: url('./assets/fonts/Blinker-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Blinker';
    src: url('./assets/fonts/Blinker-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Blinker';
    src: url('./assets/fonts/Blinker-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Blinker';
    src: url('./assets/fonts/Blinker-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Blinker';
    src: url('./assets/fonts/Blinker-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Blinker-Regular';
    src: url('./assets/fonts/Blinker-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Blinker-SemiBold';
    src: url('./assets/fonts/Blinker-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Blinker';
    src: url('./assets/fonts/Blinker-Thin.ttf') format('truetype');

}



html, body {
    height: 100%;
    overflow-x: hidden;
    font-size: 18px;
}

body {
    margin: 0;
    font-family: 'Blinker-SemiBold';

}


a {
    text-decoration: none;
}

:root {
    --main-text-color: #015C54;
    --main-elements-color: white;
    --second-text-color: #0F101E;
    --third-text-color: #FFFFFF;
    --third-main-color: #B1E239;
    --main-titulo-text: 'Blinker';
    --breakpoint-mobile: 820px;
    --cor-usb: #FFF;
    --cor-usb-2: #B1E239;
    --cinza-claro: #333;
    --branco: #E7E7E7;

}

::-webkit-scrollbar {
    width: 4px;
    height: 2px;
    background-color: #adadad;

}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 1px;
}


