@import '~typeface-bungee';
@import '~typeface-ubuntu';
@import '~typeface-inter';


html, body {
    height: 100%;
    overflow-x: hidden;
    font-size: 18px;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;

}


a {
    text-decoration: none;
}

:root {
    --main-text-color: #015C54;
    --main-elements-color: white;
    --second-text-color: #0F101E;
    --third-main-color: #f9803a;
    --main-titulo-text: 'Inter', sans-serif;
    --breakpoint-mobile: 820px;
    --cor-usb: #FFF
}

::-webkit-scrollbar {
    width: 4px;
    height: 2px;
    background-color: #adadad;

}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 1px;
}


