@import '~typeface-bungee';
@import '~typeface-ubuntu';


html, body {
    height: 100%;
    overflow-x: hidden;
    font-size: 18px;
}
body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
}

:root {
    --main-text-color: white;
    --main-elements-color: white;
}
