.container-cases {
    background: #151519;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 30% 70%;
    grid-template-areas:    "titulo"
                            "cases";
    color: var(--main-text-color);
}

.titulo {
    grid-area: titulo;
    justify-self: center;
    align-self: center;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: var(--main-titulo-text);
    
}

.linha {
    grid-area: cases;
    margin-left: 95px;
}

.cases {
    grid-area: cases;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px 0 100px;
    margin-top: 29px;
}

.case {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.linha-case {
    width: 100px;
    border-bottom: 3px solid white; 
    transform: rotate(45deg);
    margin-top: 20px;
}

.circulo {
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    background-color: #191C25;
    border: 1px solid #02CEDF;
    border-radius: 50%;
    overflow: hidden;
    position: relative; 
}

.linha-circulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-inside-circle {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.texto  {
    margin-top: 17px;
    width: 80%;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: var(--main-titulo-text);
}

.retangulo {
    height: 100px;
    width: 200px;
    background-color: #151519;
    margin-top: -20px;
    margin-left: 110px;
    z-index: 1;
}

.linha-circulo-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha-circulo-3 .linha-case,
.linha-circulo-3 .circulo {
    position: relative;
    z-index: 2;
}

.case3 {
    margin-top: -80px;
}
