<div class="container-cases">
    <div class="titulo">
        Veja a opnião dos nossos clientes
    </div>
    <div class="linha">
        <svg width="80%" height="3px" xmlns="http://www.w3.org/2000/svg">
            <line x1="0" y1="1.5" x2="100%" y2="1.5" stroke="white" stroke-width="3"/>
        </svg>
    </div>
    <div class="cases">
        <div class="case">
            <div class="linha-case">
            </div>
            <div class="circulo"></div>
            <div class="texto">{{ textoCase1 }}</div>
        </div>
        <div class="case">
            <div class="linha-case"></div>
            <div class="circulo"></div>
            <div class="texto">{{ textoCase1 }}</div>
        </div>
        <div class="case">
            <div class="linha-case"></div>
            <div class="circulo"></div>
            <div class="texto">{{ textoCase1 }}</div>
        </div>
    </div>
</div>