<div class="container-cases">
	<section id="cases">
		<div class="titulo">Veja a opnião dos nossos clientes</div>
	</section>
	<div class="linha">
		<svg width="80%" height="3px" xmlns="http://www.w3.org/2000/svg">
			<line
				x1="0"
				y1="1.5"
				x2="100%"
				y2="1.5"
				stroke="#015C54"
				stroke-width="3"
			/>
		</svg>
	</div>
	<div class="cases">
		<div class="case">
			<div class="linha-circulo">
				<div class="linha-case"></div>
				<div class="circulo">
					<img
						[src]="casesData[0].media"
						alt="Foto do cliente"
						class="image-inside-circle"
					/>
				</div>
				<div class="texto">{{ casesData[0].mensagem }}</div>
			</div>
		</div>
		<div class="case">
			<div class="linha-circulo">
				<div class="linha-case"></div>
				<div class="circulo">
					<img
						[src]="casesData[1].media"
						alt="Foto do cliente"
						class="image-inside-circle"
					/>
				</div>
				<div class="texto">{{ casesData[1].mensagem }}</div>
			</div>
		</div>
		<div class="case">
			<div class="linha-circulo-3">
				<div class="retangulo"></div>
				<div class="case3">
					<div class="linha-case"></div>
					<div class="circulo">
						<img
							[src]="casesData[2].media"
							alt="Foto do cliente"
							class="image-inside-circle"
						/>
					</div>
				</div>
			</div>
			<div class="texto">{{ casesData[2].mensagem }}</div>
		</div>
	</div>
</div>
