<div class="container-cases">
    <div class="titulo">
        Veja a opnião dos nossos clientes
    </div>
    <div class="linha">
        <svg width="80%" height="3px" xmlns="http://www.w3.org/2000/svg">
            <line x1="0" y1="1.5" x2="100%" y2="1.5" stroke="white" stroke-width="3"/>
        </svg>
    </div>
    <div class="cases">
        <div class="case">
            <div class="linha-circulo">
                <div class="linha-case"></div>
                <div class="circulo">
                    <img [src]="imgCase1" alt="Foto do cliente" class="image-inside-circle">
                </div>
                <div class="texto">{{ textoCase1 }}</div>
            </div>
        </div>
        <div class="case">
            <div class="linha-circulo">
                <div class="linha-case"></div>
                <div class="circulo">
                    <img [src]="imgCase2" alt="Foto do cliente" class="image-inside-circle">
                </div>
                <div class="texto">{{ textoCase1 }}</div>
            </div>
        </div>
        <div class="case">
            <div class="linha-circulo-3">
                <div class="retangulo"></div>
                <div class="case3">
                    <div class="linha-case"></div>
                    <div class="circulo">
                        <img [src]="imgCase3" alt="Foto do cliente" class="image-inside-circle">
                    </div>
                </div>
            </div>
            <div class="texto">{{ textoCase1 }}</div>
        </div>
    </div>
</div>